body{
    background-color: rgb(17, 31, 67);
}

.container{
    background-color: rgb(0,0 ,0.9);
     min-height: 400px;
     max-height: 900px;
      margin: auto;
    width: 400px;
    color: white;
    border-radius: 10px;
    border:2px solid  red;
}
h1{
    text-align: center;
}
 
#label11{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border-color: white;
    margin-left: 20px;
    
    
}
#reset{
   height: 40px;
   width: 150px;
   border-radius: 10px;
   border-color: red;
   font-size: 20px;
   cursor: pointer;

}
.Bmi{
    height: 30px;
    width: 150px;

    background-color: rgb(5, 79, 79);
    color: rgb(245, 91, 91);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-left: 150px;
     color: white;
    border: 2px solid rgb(254, 106, 106);
}
#label1{
    margin-left: 20px;
}
#error{
    color: red;
    margin-left: 20px;
    font-size: 14px;

}
#error1{
    color: red;
    margin-left: 10px;
    font-size: 14px;
    
}
.container input{
    font-size: 24px;
}
#label2{
    margin-left: 20px;
    margin-top: 50px;
}
.fade-in-out {
    opacity: 0; /* Start with zero opacity */
    transition: opacity 0.5s ease; /* Apply a transition effect to the opacity property */
  }
  
  .fade-in-out:hover {
    opacity: 1; /* On hover, change the opacity to 1 (fully visible) */
  }
  
#label22{
    margin-left: 35px;
    height: 30px;
    margin-top: 20px;
    caret-color: red;
    width: 200px;
    border-radius: 10px;
    border-color: white;

}
#btn{
    margin-top: 60px;
    margin-left: 80px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    color: rgb(61, 44, 44);
    font-size: 18px;
    border:2px solid red;
    cursor: pointer;
    font-size: 20px;

}